
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .save-note {
    display: none;
  }
  
  .icons i {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .note-textarea, .note-title {
    color: #000000;
    width: 100%;
    outline: none;
    border: none;
  }
  
  .note-textarea {
    resize: none;
    height: calc(100% - 63px);
    padding-top: 15px;
  }
  
  .note-title {
    height: 50px;
    margin-top: 13px;
    font-size: 3rem;
  }
  
  .note-title:read-only, .note-textarea:read-only {
    color: #757575;
  }
  
  .list-container .card {
    height: calc(100vh - 70px);
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .list-container {
    padding-left: 0;
  }
  
  .list-container .list-group,
  .list-container .list-group-item:first-child,
  .list-container .card {
    border-top: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  
  .list-container i {
    font-size: 1.1rem;
    cursor: pointer;
  }
  
  .list-container .list-group-item {
    border-left: none;
    border-right: none;
    padding: 20px;
    cursor: pointer;
  }
  .input{
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      align-items: center;
      background: transparent;
      border: none;
      border-radius: 5px;
      width: 90%;
      padding: 0px 20px;
      font-size: 16px;
      color: #838284;
      box-shadow: -6px -6px 10px rgb(255,255,255,0.03), 6px 6px 10px rgb(10,8,10,0.8), insert -6px -6px 10px rgb(255,255,255,0.05), insert 6px 6px 10px rgb(12,8,12,0.8);
    }
    .input{
        outline: none};

 .remove, .check{
background: #ffc800;
width:50px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
color: #161117;
border-radius: 50%;
margin-left: 15px;
cursor: pointer;
font-size: 30px;

    }
.list-group li{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    color: #716973;
    background: blueviolet;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 15px;
    box-shadow: 0px 5px 10px reb(0, 0 , 0, 0.55);
}
.left-cont input{
    display: none;
    cursor: pointer;
}
.left-cont label{
    position:relative;
    cursor: pointer;

}
.left-cont label:before{
    content:"";
    padding: 11px;
    display: inline-block ;
    position: relative;
    margin-right: 8px;
    vertical-align: middle;
    background: #412d46;

}
.left-cont input:checked + label:before{
background: #ffc800;

}
.left-cont input:checked + label::after{
   content: "";
   position: absolute;
   display: inline-block;
    top:4px;
    left:8px;
    width: 5px;
    height: 12px;
    border: solid #221525;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
    }
    .remove{
        color: #ff0047;
        cursor: pointer;
        line-height: 1;
        transform: translateY();
        transition: .5s;
    }
    .remove.active{ 
        transform: translateY();
        transition: .5s;
    }
    .list-group{
        width: 100%;
        background: reba(255,255,255 0.5);
        padding:10px;
        margin: 6px;
        
        

    }